.thumbnails-box{
  border: 2px solid black;
  border-radius: 5px;
  padding: 2rem;
  overflow-y :scroll;
  margin-top: 0.5rem;
}

img{
  width:15vw;
  height:15vh;
}
mat-grid-tile{
  margin-top: 5vh;
}
mat-grid-list{
  position:relative;
  bottom: 8vh;
}

.spinner {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(128, 128, 128, 0.274);
  z-index: 10;
}