<div class="container">
    <div class="database filter">
        <h2>Database:</h2>
        <mat-form-field appearance="outline">
            <mat-select [(value)]="selectedDatabase" (selectionChange)="onDatabaseChange()">
              <mat-option *ngFor="let database of databases" [value]="database.value">
                {{database.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="searchBy filter">
      <h2>Search by:</h2>
      <mat-form-field appearance="outline">
          <mat-select [(value)]="selectedSearchType" (selectionChange)="onSearchTypeChange()">
            <mat-option *ngFor="let searchType of searchTypes" [value]="searchType.value">
              {{searchType.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div class="searchBar filter" *ngIf="selectedSearchType === 'cluster'">
        <mat-form-field appearance="outline">
            <mat-label>Search by Clusters</mat-label>
            <input
            [disabled]="!eventChecked && !personalityChecked && !placeChecked && !illustrationChecked"
            matInput type="text"
            placeholder="Enter a keyword"
            #clusterInput
            [matAutocomplete]="auto" 
            [formControl]="myControl"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addChip($event)">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedChip($event)">
              <mat-option *ngFor="let cluster of filteredClusters | async" [value]="cluster.value" (onSelectionChange)="getSelectedCluster(cluster, $event)">
                {{cluster.value}}
              </mat-option>
            </mat-autocomplete>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-chip-list #chipList aria-label="Cluster selection">
          <mat-chip
          *ngFor="let cluster of selectedClustersObjects"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="removeChip(cluster)">
          {{cluster.value}}
          <mat-icon matChipRemove="removable">cancel</mat-icon>
          </mat-chip>
      </mat-chip-list>
    </div>
    <div class="searchBar filter" *ngIf="selectedSearchType === 'title'">
      <mat-form-field appearance="outline">
        <mat-label>Search by Titles</mat-label>
        <input matInput type="text" placeholder="Enter a title" #txtVal (keydown.enter)="onSearchByTitle(txtVal.value)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    </div>
</div>
