
<cdk-virtual-scroll-viewport itemSize="20" class="viewport-scroll">
  <div class="clusterview-box">
  <mat-accordion multi>
    <mat-expansion-panel *cdkVirtualFor="let cluster of this.getClustersToShow()">
      <mat-expansion-panel-header>
        <mat-panel-title class={{cluster.type}}>
          <mat-icon>{{getIconByClusterType(cluster)}}</mat-icon>
          <h3>{{ cluster.value }}</h3>
        </mat-panel-title>
        <mat-panel-description> {{getFilesByCluster(cluster).length}} files </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="clusters-container">
        <mat-list class="eventClusters">
          <mat-list-item *ngFor="let file of getFilesByCluster(cluster)">
            <mat-icon>article</mat-icon>
            <span routerLink="/file-details/{{file.id}}" [state]="{ file: file }" matTooltip="See more details" matTooltipPosition="right">{{file.titre}}</span>
          </mat-list-item>
          <mat-divider class="fileDivider"></mat-divider>
        </mat-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</cdk-virtual-scroll-viewport>