
<cdk-virtual-scroll-viewport itemSize="20" class="viewport-scroll">
  <div class="clusterview-box">
  <mat-accordion multi>
    <mat-expansion-panel *cdkVirtualFor="let cluster of this.filterService.getSelectedClusters()">
      <mat-expansion-panel-header>
        <mat-panel-title class={{cluster.type}}>
          <mat-icon>{{getIconByClusterType(cluster)}}</mat-icon>
          <h3>{{ cluster.value }}</h3>
        </mat-panel-title>
        <mat-panel-description> {{getImagesByCluster(cluster).length}} images </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="clusters-container">
        <mat-list class="eventClusters">
          <mat-list-item *ngFor="let image of getImagesByCluster(cluster)">
            <mat-icon>article</mat-icon>
            <span routerLink="/subject-details/{{image.ID_document}}" [state]="{ image: image }" matTooltip="See more details" matTooltipPosition="right">{{image.document_title}}</span>
          </mat-list-item>
          <mat-divider class="imageDivider"></mat-divider>
        </mat-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
</cdk-virtual-scroll-viewport>