<div class="originalinfo-box">
  <!-- <h2>Base de données</h2>
  <p>{{info.database}}</p> -->
  
  <div class="row">
    <div class="info-box">
      <h2>Identifiant notice</h2>
      <p>{{info.ID_notice}}</p>
    </div>

    <div class="info-box">
      <h2>Titre de l'archive</h2>
      <p>{{info.Titre_propre_x}}</p>
    </div>

    <div class="info-box">
      <h2>Titre de la collection</h2>
      <p>{{info.Titre_collection_x}}</p>
    </div>
  </div>

  <div class="row">
    <div class="info-box">
      <h2>Titre du programme</h2>
      <p>{{info.Titre_programme}}</p>
    </div>

    <div class="info-box">
      <h2>Chaîne de diffusion</h2>
      <p>{{info.Chaine}}</p>
    </div>

    <div class="info-box">
      <h2>Date de la diffusion</h2>
      <p>Le {{info.Jour}} {{info.Date_de_diffusion}}</p>
    </div>
  </div>

  <div class="row">
    <div class="info-box">
      <h2>Statut de la diffusion</h2>
      <p>{{info.Statut_de_diffusion}}</p>
    </div>

    <div class="info-box">
      <h2>Heure du début de diffusion</h2>
      <p>{{info.Heure_de_diffusion}}</p>
    </div>

    <div class="info-box">
      <h2>Heure de fin de diffusion</h2>
      <p>{{info.Heure_de_fin_de_diffusion}}</p>
    </div>
  </div>

  <div class="row">
    <div class="info-box">
      <h2>Durée de diffusion</h2>
      <p>{{info.Duree}}</p>
    </div>

    <div class="info-box">
      <h2>Genre</h2>
      <p>{{info.Genre}}</p>
    </div>

    <div class="info-box">
      <h2>Générique</h2>
      <p>{{info.Generique}}</p>
    </div>
  </div>

  <div class="row">
    <div class="info-box">
      <h2>Descripteurs</h2>
      <p>{{info.Descripteurs}}</p>
    </div>

    <div class="info-box">
      <h2>Chapeau</h2>
      <p>{{info.Chapeau}}</p>
    </div>

    <div class="info-box">
      <h2>Société du programme</h2>
      <p>{{info.Societe_de_programmes}}</p>
    </div>
  </div>
    
  <div class="row">
    <div class="info-box">
      <h2>Producteurs</h2>
      <p>{{info.Producteurs}}</p>
    </div>

    <div class="info-box">
      <h2>Extension géographique</h2>
      <p>{{info.Extension_geographique}}</p>
    </div>

    <div class="info-box">
      <h2>Fonds</h2>
      <p>{{info.Fonds}}</p>
    </div>
  </div>

  <div class="info-box">
    <h2>Titre matériel</h2>
    <p>{{info.Titre_materiel}}</p>
  </div>
</div>