body{
  overflow: hidden;
}

.cluster-div>mat-checkbox{
  font-weight: 450;
}
.cluster-div> mat-checkbox, mat-checkbox-frame, mat-checkbox-checked, mat-checkbox-background {
  transform: scale(1.3);
}

.Event{
  color: #632800;
}
.Personality{
  color:blue;
  margin-left: 40px;
}
.Place{
  color:red;
  margin-left: 40px;
}
.Illustration{
  color:green;
  margin-left: 40px;
}

.cluster-div {
  padding-bottom: 1rem;
}

mat-tab-group{
  margin-right: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: -1rem 2rem 2rem 2rem;
}
#list-view>div{
  width: 65vw;
}
#cluster-view>div{
  width: 65vw;
}
#treemaps>div{
  width: 65vw;
}
#distribution>div{
  width: 65vw;
}


.Event.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #632800 ;
}
.Personality.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: blue;
}
.Place.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: red;
}
.Illustration.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: green;
}

.top-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding: 1rem;
}

#user-icon{
  display:flex;
  position : relative;
  flex-direction: row;
  align-items: center;
  top: 2em;
  right:2em;
}

#user-icon>span{
  position:relative;
  font-size: 1.3em;
  bottom:1.3em;
}
#user-icon>img{
  width: 4rem;
  height: 4rem;
  position : relative;
  bottom: 3.5vh;
}

app-search-filters {
  width: 25vw;
}
