<div class="top-container">
  <div id="user-icon">
    <span>John Doe</span>
    <img src="../../assets/images/profil.png" alt="icone de profil">
  </div>
</div>

<div class="flex-container">
  <mat-tab-group mat-align-tabs="end">
    <mat-tab label="{{listViewName}}">
      <ng-template matTabContent>
        <app-list-view id="list-view"
          [eventChecked]="eventChecked" [personalityChecked]="personalityChecked" [placeChecked]="placeChecked" [illustrationChecked]="illustrationChecked">
        </app-list-view>
      </ng-template>
    </mat-tab>
    <mat-tab label="Cluster View">
      <ng-template matTabContent>
        <app-cluster-view id="cluster-view"
          [eventChecked]="eventChecked" [personalityChecked]="personalityChecked" [placeChecked]="placeChecked" [illustrationChecked]="illustrationChecked">
        </app-cluster-view>
      </ng-template>
    </mat-tab>
    <mat-tab label="Treemaps">
      <ng-template matTabContent>
        <app-treemaps id="treemaps"></app-treemaps>
      </ng-template>
    </mat-tab>
    <mat-tab label="Distribution">
      <ng-template matTabContent>
        <app-distribution id="distribution"></app-distribution>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <div class="filters-container">
    <div class="cluster-div" *ngIf="this.filterService.getSelectedSearchType() === 'cluster'">
      <mat-checkbox class="Event" (change)="toggleEventCheckbox($event)" [checked]="eventChecked">Event</mat-checkbox>
      <mat-checkbox class="Personality" (change)="togglePersonalityCheckbox($event)" [checked]="personalityChecked">Personality</mat-checkbox>
      <mat-checkbox class="Place" (change)="togglePlaceCheckbox($event)" [checked]="placeChecked">Place</mat-checkbox>
      <mat-checkbox class="Illustration" (change)="toggleIllustrationCheckbox($event)" [checked]="illustrationChecked">Illustration</mat-checkbox>
    </div>
    <app-search-filters
      [eventChecked]="eventChecked" [personalityChecked]="personalityChecked" [placeChecked]="placeChecked" [illustrationChecked]="illustrationChecked"
      (showTypeEvent)="renameFirstTab($event)">
    </app-search-filters>
  </div>
</div>
