<div class="cluster-div">
  <mat-checkbox class="Event">Event</mat-checkbox>
  <mat-checkbox class="Personality">Personality</mat-checkbox>
  <mat-checkbox class="Place">Place</mat-checkbox>
  <mat-checkbox class="Illustration" >Illustration</mat-checkbox>
</div>

<mat-tab-group mat-align-tabs="end">
  <mat-tab label="List view">
    <ng-template matTabContent>
      <app-list-view></app-list-view>
    </ng-template>
  </mat-tab>
  <mat-tab label="Cluster view">
    <ng-template matTabContent>
      <app-cluster-view></app-cluster-view>
    </ng-template>
  </mat-tab>
  <mat-tab label="Treemaps">
    <ng-template matTabContent>
      <app-treemaps></app-treemaps>
    </ng-template>
  </mat-tab>
  <mat-tab label="Distribution">
    <ng-template matTabContent>
      <app-distribution></app-distribution>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<app-search-filters></app-search-filters>
