<div class="spinner" *ngIf="this.httpService.isRequestLoading();">
  <mat-spinner></mat-spinner>
</div>
<!--<cdk-virtual-scroll-viewp0ort itemSize="30" minBufferPx="210" maxBufferPx="600" class="viewport-scroll">-->

<!--<cdk-virtual-scroll-viewport itemSize="30" class="viewport-scroll">-->
<div class="listview-box">
  <mat-paginator [length]="lengthPaginator"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    (page)="this.getPage($event)"
    aria-label="Select page">
  </mat-paginator>
  <mat-accordion multi class="accordion-g">
    <section matSort class="mat-header-row" (matSortChange)="sortData($event)">
      <span class="mat-header-cell" mat-sort-header="archiveName">Title</span>
      <span class="mat-header-cell" mat-sort-header="archiveDate">Publication date</span>
      <span class="mat-header-cell" mat-sort-header="archiveChannel">Channel</span>
      <span class="mat-header-cell" mat-sort-header="archiveLanguage">Language</span>
    </section>

    <ng-container *ngFor="let group_image of this.displayedImages;">
      <mat-expansion-panel >
        <mat-expansion-panel-header class="mat-row" (click)="$event.stopPropagation()">
          <mat-panel-title>
          <span class="title-icon-part mat-cell title">
            <mat-icon>article</mat-icon>
            <span routerLink="/subject-details/{{group_image[0].ID_document}}" [state]="{ images: group_image }" matTooltip="See more details" matTooltipPosition="right">
              {{ group_image[0].document_title }}</span>
            </span>
          <span class="mat-cell title">{{group_image[0].day_airing}}</span>
          <span class="mat-cell title">{{group_image[0].channel}}</span>
          <span class="mat-cell title">{{group_image[0].language}}</span>
        </mat-panel-title>    
          <mat-panel-description></mat-panel-description>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
          <app-list-card [group_image]="group_image"></app-list-card>
        </ng-template>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>
<!--</cdk-virtual-scroll-viewport>-->