<div class="listview-box">
  <mat-accordion multi *ngIf="eventChecked || personalityChecked || placeChecked || illustrationChecked">
    <mat-expansion-panel *ngFor="let file of fileList">
      <mat-expansion-panel-header>
        <mat-panel-title (click)="$event.stopPropagation()">
          {{ file.title }}
        </mat-panel-title>
        <mat-panel-description> {{getClustersQuantity(file)}} clusters </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="clusters-container">
        <mat-list class="eventClusters" *ngIf="eventChecked">
          <mat-list-item *ngFor="let cluster of file.event">{{cluster}}</mat-list-item>
        </mat-list>
        <mat-divider class="eventDivider" *ngIf="eventChecked"></mat-divider>
        <mat-list class="personalityClusters" *ngIf="personalityChecked">
          <mat-list-item *ngFor="let cluster of file.personality">{{cluster}}</mat-list-item>
        </mat-list>
        <mat-divider class="personalityDivider" *ngIf="personalityChecked"></mat-divider>
        <mat-list class="placeClusters" *ngIf="placeChecked">
          <mat-list-item *ngFor="let cluster of file.place">{{cluster}}</mat-list-item>
        </mat-list>
        <mat-divider class="placeDivider" *ngIf="placeChecked"></mat-divider>
        <mat-list class="illustrationClusters" *ngIf="illustrationChecked">
          <mat-list-item *ngFor="let cluster of file.illustration">{{cluster}}</mat-list-item>
        </mat-list>
        <mat-divider class="illustrationDivider" *ngIf="illustrationChecked"></mat-divider>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
