<div id="back-icon">
  <button mat-icon-button ng-click="goBack()" aria-label="go back symbol" id="back">
    <mat-icon inline="true">arrow_back</mat-icon>
  </button>
</div>

<div id="user-icon">
  <span>John Doe</span>
  <img src="../../../assets/images/profil.png" alt="icone de profil">
</div>

<h1 id='archive-title'>{{file.titre}}</h1>

<div id="options-box">
  <div class="flex-container">
    <mat-tab-group mat-align-tabs="end">
      <mat-tab label="Thumbnails">
        <ng-template matTabContent>
          <app-thumbnails-box id="thumbnails"></app-thumbnails-box>
        </ng-template>
      </mat-tab>
      <mat-tab label="Original informations">
        <ng-template matTabContent>
          <app-originalinfo-box id="infos"></app-originalinfo-box>
        </ng-template>
      </mat-tab>
      <mat-tab label="index CROBORA">
        <ng-template matTabContent>
          <app-index-crobora-box id="index"></app-index-crobora-box>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
    <div id="icon-box">
      <button mat-icon-button ng-click="editComment()" aria-label="Edit a comment icon" id="edit">
        <mat-icon inline="true">edit</mat-icon>
      </button>
      <button mat-icon-button ng-click="addToFav()" aria-label="Favorite icon with a star" id="favorite">
        <mat-icon inline="true">star_border</mat-icon>
      </button>
      <button mat-icon-button onclick="location.href='https://crobora.hypotheses.org/';" aria-label="Play icon for the video" id="video">
        <mat-icon inline="true">play_circle_outline</mat-icon>
      </button>
    </div>
  </div>
</div>
