body{
  overflow:hidden;
}

#archive-title{
  position: relative;
  display:flex;
  top: 1em;
  left : 1rem;
  font-weight: bold;
  font-size: 3em;
  font: w3-cursive;
}

#user-icon{
  display:flex;
  float: right;
  flex-direction: row;
  align-items: center;
  position: relative;
  top: 1em;
  right:2em;
}
#user-icon>span{
  position:relative;
  font-size: 1.3em;
  bottom:1.3em;
}
#user-icon>img{
  width: 4rem;
  height: 4rem;
  position : relative;
  bottom: 3.5vh;
}

#back-icon{
  display:flex;
  position: relative;
  top: 15px;
  left:15px;
  background-color: black;
  border-radius: 50px;
  height:30px;
  width:30px;
}
#back-icon>button{
  background-color: transparent;
  border: transparent;
}
#back-icon>button>mat-icon{
  position:relative;
  right:6px;
  bottom:1px;
  color:white;
  font-size:30px;
}

#options-box {
  display:flex;
  position: relative;
  top:3em;
  margin-left: 5px;
}
.flex-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  left:1vw;
}
#thumbnails>div{
  width : 72vw;
  height: 64vh;
}
#infos>div{
  width : 72vw;
  height: 64vh;
}
#index>div{
  width : 72vw;
  height: 64vh;
}

#icon-box{
  width: 15vw;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#icon-box>button>mat-icon{
  height: 7vh;
  width: 7vw;
  font-size: 7vh;
}
#icon-box>button{
  background-color: transparent;
  border: transparent;
  position : relative;
  display :flex;
  bottom : 15vw;
  left : 2.5vw;
}
